<body>
    <main>
      <div>
        <h5 class="m-4 text-black bg-info d-inline-block">会員情報編集</h5>
        <%= form_with model: @customer, url: admin_customer_path(@customer.id) do |f| %>
        <tr>
            <td>
            <%= label :customer_id, "会員ID" %>
            <%= @customer.id %>
            </td>
        </tr>
        <tr>
            <td>
        <%= f.label :customer_name, "氏名" %>
        <%= f.text_field :customer.fisrt_name %>
        <%= f.text_field :customer.last_name %>
        </td>
        </tr>
        <tr>
            <td>
            <%= f.label :item_introduction, "フリガナ" %>
            <%= f.text_field :customer.fisrt_name_kana %>
            <%= f.text_field :customer.last_name_kana %>
            </td>
        </tr>
        <tr>
            <td>
            <%= f.label :item_genre, "郵便番号" %>
            <%= f.text_field customer.postal_code %>
            </td>
        </tr>
        <tr>
            <td>
            <%= f.label :item_price, "住所" %>
            <%= f.text_area customer.address %>
            </td>
        </tr>
        <tr>
            <td>
            <%= f.label :customer_price, "電話番号" %>
            <%= f.text_field customer.telephone_number %>
            </td>
        </tr>
        <tr>
            <td>
            <%= f.label :customer_price, "メールアドレス" %>
            <%= f.text_field customer.email %>
            </td>
        </tr>
        <tr>
            <td>
            <%= f.label :customer_status, "会員ステータス" %>
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :is_deleted, "有効", class: "text-active" %>
            <%= f.radio_button :is_deleted, true %>
            <%= f.label :is_deleted, "退会", class: "text-active" %>
            </td>
        </tr>
        <div>
          <%= f.submit '変更を保存' %>
        </div>
        <% end %>
      </div>
    </main>
</body>
