<div class="row justify-content-center">
    <div class="col-md-12 offset-md-1">
        <h5 class="m-4 text-black bg-info d-inline-block">会員詳細</h5>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-12 offset-md-1">
        <table class="table table-borderless table-sm">
            <tbody>
                <tr>
                    <td class="col-lg-2"><%= label :customer_id, "会員ID" %></td>
                    <td><%= @customer.id %></td>
                </tr>
                <tr>
                    <td class="col-lg-2"><%= label :customer_name, "氏名" %></td>
                    <td><%= @customer.first_name + @customer.last_name %></td>
                </tr>
                <tr>
                    <td class="col-lg-2"><%= label :item_introduction, "フリガナ" %></td>
                    <td><%= @customer.first_name_kana + @customer.last_name_kana %></td>
                </tr>
                <tr>
                    <td class="col-lg-2"><%= label :item_genre, "郵便番号" %></td>
                    <td><%= @customer.postal_code %></td>
                </tr>
                <tr>
                    <td class="col-lg-2"><%= label :item_price, "住所" %></td>
                    <td><%= @customer.address %></td>
                </tr>
                <tr>
                    <td class="col-lg-2"><%= label :customer_price, "電話番号" %></td>
                    <td><%= @customer.telephone_number %></td>
                </tr>
                <tr>
                    <td class="col-lg-2"><%= label :customer_price, "メールアドレス" %></td>
                    <td><%= @customer.email %></td>
                </tr>
                <tr>
                    <td class="col-lg-2"><%= label :customer_status, "会員ステータス" %></td>
                    <td>
                        <% if @customer.is_deleted == true %>
                        販売中
                        <% else %>
                        販売停止中
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <%= link_to "編集", edit_admin_customer_path, class: "btn btn-sm btn-success"%>
                        <%= link_to "注文履歴一覧を見る", admin_homes_top_path, class: "btn btn-sm btn-primary ml-4"%>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

