<div class="row justify-content-center">
  <div class="col-md-10 offset-md-1">
    <h5 class="m-4 text-black bg-info d-inline-block">配送先登録/一覧</h5>
  </div>
</div>

<div class="container">
  <div class="row position-absolutestart-0 top-50">
    <div class="col-md-10">
      <%= form_with model: @addresses, url: public_addresses_path do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><%= f.label :postal_code, "郵便番号（ハイフンなし）" %></td>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <td><%= f.label :address, "住所" %></td>
            <td><%= f.text_field :address, :size=>"50", placeholder: "東京都渋谷区代々木" %></td>
          </tr>
          <tr>
            <td><%= f.label :address_name, "宛名" %></td>
            <td><%= f.text_field :name, placeholder: "令和道子" %></td>
            <td><%= f.submit '新規登録' %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>
