<div class="row justify-content-center">
  <div class="col-md-10 offset-md-1">
    <h5 class="m-4 text-black bg-info d-inline-block">新規会員登録</h5>
  </div>
</div>

<div class="row">
  <div class="col-md-8 offset-md-1">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td><%= f.label :name, "名前" %></td>
          <td><%= f.label :last_name, "（姓）" %></td>
          <td>
          <%= f.text_field :last_name, :size=>"20", placeholder: "令和" %>
          <%= f.label :first_name, "　（名）" %>
          <%= f.text_field :first_name, :size=>"20", placeholder: "道子" %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :kana_name, "フリガナ" %></td>
          <td><%= f.label :last_name_kana, "（セイ）" %></td>
          <td>
          <%= f.text_field :last_name_kana, :size=>"20", placeholder: "レイワ" %>
          <%= f.label :first_name_kana, "（メイ）" %>
          <%= f.text_field :first_name_kana, :size=>"20", placeholder: "ミチコ" %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :email, "メールアドレス" %></td>
          <td></td>
          <td><%= f.email_field :email, :size=>"20", autofocus: true, autocomplete: "email", placeholder: "samole@example.com" %></td>
        </tr>
        <tr>
          <td><%= f.label :postal_code, "郵便番号" %></td>
          <td></td>
          <td><%= f.text_field :postal_code, :size=>"20", placeholder: "0000000" %></td>
        </tr>
        <tr>
          <td><%= f.label :address, "住所" %></td>
          <td></td>
          <td><%= f.text_field :address, :size=>"50", placeholder: "東京都渋谷区代々木神園町0-0" %></td>
        </tr>
        <tr>
          <td><%= f.label :telephone_number, "電話番号" %></td>
          <td></td>
          <td><%= f.text_field :telephone_number, :size=>"20", placeholder: "00000000000" %></td>
        </tr>
        <tr>
          <td>
            <%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
          </td>
          <td></td>
          <td>
            <%= f.password_field :password, :size=>"20", autocomplete: "new-password" %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :password_confirmation, "パスワード（確認用）" %></td>
          <td></td>
          <td><%= f.password_field :password_confirmation, :size=>"20", autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><%= f.submit "新規登録" %></td>
        </tr>
      </tbody>
    </table>
    <% end %>
    <h5 class="m-4 text-black bg-info d-inline-block">既に登録済みの方は</h5> </br>
    <%= link_to "こちら", new_customer_session_path %>からログインしてください。
  </div>
</div>