<div class="row justify-content-center">
  <div class="col-md-8 offset-md-1">
    <h5 class="m-4 text-black">注文履歴一覧</h5>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th class="border border-secondary col-lg-2">注文日</th>
            <th class="border border-secondary col-lg-5">配送先</th>
            <th class="border border-secondary col-lg-2">注文商品</th>
            <th class="border border-secondary">支払金額</th>
            <th class="border border-secondary">ステータス</th>
            <th class="border border-secondary">注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td class="border border-secondary text-left align-middle"><%= order.created_at %></td>
            <td class="border border-secondary text-left align-middle">
              <%= order.post_code %></br>
              <%= order.address %></br>
              <%= order.name %>
            </td>
            <td class="border border-secondary text-left align-middle">
              <% order.order_details.each do |order_detail| %>
                <%= order_detail.item.name %><br />
              <% end %>
            </td>
            <td class="border border-secondary text-left align-middle"><%= order.billing_amount.to_i + 800 %></td>
            <td class="border border-secondary text-left align-middle"><%= order.status_i18n %></td>
            <td class="border border-secondary text-left align-middle">
            <%= link_to "表示する", public_order_path(order.id), class: "btn btn-sm btn-success align-middle"%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>