<div class="row justify-content-center">
  <div class="col-md-8 offset-md-1">
    <h5 class="m-4 text-black">注文情報入力</h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= form_with model: @order, url: public_orders_confirmation_path do |f| %>
        <h4 class="font-weight-bold m-0">支払方法</h4></br>
        <%= f.radio_button :payment_method, Order.payment_methods.key(0), class: "ml-5" %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %></br>

        <%= f.radio_button :payment_method, Order.payment_methods.key(1), class: "ml-5" %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%></br>

        <h4 class="font-weight-bold m-0">お届け先</h4></br>
        <%= f.radio_button :address_type, 0, class: "ml-5" %>
        <%= f.label :address_type_0, "ご自身の住所" %></br>
        <div class="ml-5">
          　〒<%= current_customer.postal_code + current_customer.address %></br>
        </div>

        <%= f.radio_button :address_type, 1, class: "ml-5" %>
        <%= f.label :address_type_1, "登録先住所から選択" %></br>
        <div class="ml-5">
          　<%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display)%>
        </div>

        <%= f.radio_button :address_type, 2, class: "ml-5" %>
        <%= f.label :address_type_2, "新しいお届け先" %></br>
        <table class="table table-borderless table-sm ml-5">
          <tbody>
            <tr>
              <td class="col-lg-3"><%= f.label :postal_code, "郵便番号（ハイフンなし）" %></td>
              <td><%= f.text_field :postal_code, placeholder: "0000000" %></td>
            </tr>
            <tr>
              <td class="col-lg-3"><%= f.label :address, "住所" %></td>
              <td><%= f.text_field :address, :size=>"50", placeholder: "東京都渋谷区代々木" %></td>
            </tr>
            <tr>
              <td class="col-lg-3"><%= f.label :address_name, "宛名" %></td>
              <td><%= f.text_field :name, placeholder: "令和道子" %></td>
            </tr>
          </tbody>
        </table>

        <div class="row justify-content-center">
          <%= f.submit '確認画面へ進む', class: " btn btn-sm btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>