<main>
  <div class="row justify-content-center">
    <div class="col-md-8 offset-md-1">
      <h4 class="m-4 text-black bg-info d-inline-block">ログイン</h4>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6 offset-md-1">
      <h5 class="m-4 text-black bg-info d-inline-block">会員の方はこちらからログイン</h5>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, :size=>"40", autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <td><%= f.label :パスワード %></td>
            <td>
              <%= f.password_field :password, :size=>"40", autocomplete: "current-password" %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "ログイン" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
      <h5 class="m-4 text-black bg-info d-inline-block">会員登録がお済みでない方は</h5></br>
      <%= link_to "こちら", new_customer_registration_path %> から新規登録を行なってください。
    </div>
  </div>